@import '../../../assets/variables.scss';

.LanguageSelector {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    color: $main-color;
  }

  .icon {
    margin-right: 10px;
  }

  .name {

  }
}