$main-color: #D8C3A5;
$secondary-color: #112D32;
$background-color: rgba(17, 45, 50, 0.7);
$wrong-color: firebrick;


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes pageAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}